@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: RGB(31, 38, 49);
}
.card-bg{
  background-color: RGB(49, 58, 73);
}
